<nav class="nav">
    <h1 routerLink="/">E-Comm</h1>
    @if(menuType ==='default') {
    <div>
        <input #searchInput type="text" (keyup)="searchProduct($event)" (blur)="hideSearch()"
            placeholder="Search For Product" />
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="search-result" *ngIf="searchResult">
            <li *ngFor="let product of searchResult;">
                <p><a (click)="redirectToDetails(product.id)"></a>{{product.name}}</p>
            </li>
        </ul>
    </div>
    }
    @switch (menuType) {
    @case ('default') {
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seller-auth">Seller</a></li>
        <li><a routerLink="/user-auth">Login/Sign-up</a></li>
        <li><a href="#">cart({{cardItems}})</a></li>
    </ul>
    }
    @case ('user') {
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seller-auth">Seller</a></li>
        <li><a routerLink="/user-auth">{{userName}}</a></li>
        <li><a routerLink="/my-orders">My Orders</a></li>
        <li><a routerLink="/user-auth" (click)="userLogout()">Logout</a></li>
        <li><a routerLink="cart-page">cart {{cardItems}}</a></li>
    </ul>
    }
    @case ('seller') {
    <ul>
        <li><a routerLink="/seller-home">Product List</a></li>
        <li><a routerLink="/seller-add-product">Add Product</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><a href="#">{{sellerName| titlecase}}</a></li>
    </ul>
    }
    }
</nav>