<nav class="nav">
    <h1 routerLink="/">E-Comm</h1>
    @if(menuType ==='default') {
    <div>
        <input type="text" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search For Product" />
        <button>Search</button>
        <ul class="search-result" *ngIf="searchResult">
            <li *ngFor="let product of searchResult;">
              <p>{{product.name}}</p>
            </li>
          </ul>
    </div>
    }
    @switch (menuType) {
    @case ('default') {
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seller-auth">Seller</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">cart(0)</a></li>
    </ul>
    }
    @case ('seller') {
    <ul>
        <li><a routerLink="/seller-home">Product List</a></li>
        <li><a routerLink="/seller-add-product">Add Product</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><a href="#">{{sellerName| titlecase}}</a></li>
    </ul>
    }
    }
</nav>