<div class="cart-page">
    <h1>Shopping Cart</h1>
    <div class="cart-container">
        <div class="cart-items">
    @for (cart of cartData; track cart.id) {
        <div class="cart-item">
            <img src={{cart.image}} alt="Product Image">
            <div class="item-info">
                <h2>{{cart.name}}</h2>
                <p>Price: <strong>{{cart.price}}</strong></p>
                <p>Quantity: <strong>{{cart.quantity}}</strong></p>
            </div>
            <button class="remove-card"><i class="fas fa-trash"></i> Remove</button>
        </div>
    }
        </div>

        <div class="cart-summary">
            <h3>Order Summary</h3>
            <ul>
                <li><span>Amount:</span><span>{{priceSummary.price}}</span></li>
                <li><span>Tax:</span><span>{{priceSummary.tex}}</span></li>
                <li><span>Delivery:</span><span>{{priceSummary.delivery}}</span></li>
                <li><span>Discount:</span><span>{{priceSummary.discount}}</span></li>
                <li class="total"><span><strong>Total:</strong></span><span><strong>{{priceSummary.total}}</strong></span></li>
            </ul>
            <button class="checkout-button" (click)="checkout()">Proceed to Checkout</button>
        </div>
    </div>
</div>