.seller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.seller-auth {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.signUp h1 {
  text-align: center;
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .seller-auth {
    padding: 15px;
  }

  .signUp h1 {
    font-size: 20px;
  }
}
