<div class="user-auth">
    @if(!showLogin) {
    <div class="sign-up">
        <h1>User Signup</h1>
        <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
            <input type="text" class="form-input" name="name" placeholder="Enter User Name" ngModel />
            <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel /><input
                type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel />
            <button class="form-button">Sign Up</button>
            <a class="auth-user-toggle-link" (click)="openLogin()">Alraedy Have Account? Click to Login</a>

        </form>
    </div>
    }
    @else {
    <div class="login">
        <h1>User Login</h1>
        <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
            <p class="error-message">{{authError}}</p>
            <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel email
                #email="ngModel" required />
                @if(email.invalid && email.touched) {
                    <p class="invalid-input"><span>Please enter valid input</span></p>
                }


            <input type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel
                minlength="2" maxlength="20" #password="ngModel" required />
                @if(password.invalid && password.touched) {
                    <p class="invalid-input"><span>Please enter valid input</span>
                        </p>
                }
            <button [disabled]="userLogin.invalid" class="form-button">Login</button>
            <a class="auth-user-toggle-link" (click)="openLogin()">Don't Have Account? Click to Sign-Up</a>
        </form>
    </div>
    }
</div>