@if (popularProductList) {
	<ngb-carousel class="custom-carousel">
	  @for (item of popularProductList; track item.id) {
		<ng-template ngbSlide>
		  <div class="picsum-img-wrapper">
			<img
			  class="product-header-image"
			  src="{{item.image}}"
			  alt="{{item.name}}"
			/>
		  </div>
		  <div class="carousel-caption custom-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		  </div>
		</ng-template>
	  }
	</ngb-carousel>
  }
  <div class="product-list-wrapper">
	<h1>Tranding Product</h1>
	<div class="row">
		@for (item of trandingProduct; track item.id) {
		<div class="col-sm-3 my-2">
				<div class="product-item">
					<img src="{{item.image}}" alt="{{item.name}}">
					<div class="product-details">
						<h6 class="name-head">{{item.name}}</h6>
						<div class="product-price"><h6>price: {{item.price}}</h6></div>
						<div class="product-color"><h6>color: {{item.color}}</h6></div>
					</div>
					<div class="product-footer">
						<a>View Details</a>
						<a href="">Add to Cart</a>
					</div>
				</div>
			</div>
		}
	</div>

  </div>
  