@if (popularProductList) {
	<ngb-carousel class="custom-carousel">
	  @for (item of popularProductList; track item.id) {
		<ng-template ngbSlide>
		  <div class="picsum-img-wrapper">
			<img
			  class="product-header-image"
			  src="{{item.image}}"
			  alt="{{item.name}}"
			/>
		  </div>
		  <div class="carousel-caption custom-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		  </div>
		</ng-template>
	  }
	</ngb-carousel>
  }
  <div class="product-list-wrapper">
	<h1>Tranding Product</h1>
	<div class="row">
		<div class="col-sm-3">
			<div class="product-item">
				<img src="https://images.unsplash.com/photo-1507955987999-df4864ee80d4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBob25lfGVufDB8fDB8fHww" alt="">
			<div class="product-details">
				<h6 class="name-head">new apple</h6>
				<div class="product-price"><h6>price: 1000</h6></div>
				<div class="product-color"><h6>color: black</h6></div>

			</div>
			<div class="product-footer">
				<a>View Details</a>
				<a href="">Add to Cart</a>
			  </div>
			</div>
		</div>
	</div>

  </div>
  